
* {  box-sizing: border-box;}.row::after {  content: "";  clear: both;  display: table;}[class*="col-"] {  float: left;  padding: 15px;}/* For mobile phones: */[class*="col-"] {  width: 100%;}@media only screen and (min-width: 600px) {  /* For tablets: */  .col-s-1 {width: 8.33%;}  .col-s-2 {width: 16.66%;}  .col-s-3 {width: 25%;}  .col-s-4 {width: 33.33%;}  .col-s-5 {width: 41.66%;}  .col-s-6 {width: 50%;}  .col-s-7 {width: 58.33%;}  .col-s-8 {width: 66.66%;}  .col-s-9 {width: 75%;}  .col-s-10 {width: 83.33%;}  .col-s-11 {width: 91.66%;}  .col-s-12 {width: 100%;}}@media only screen and (min-width: 768px) {  /* For desktop: */  .col-1 {width: 8.33%;}  .col-2 {width: 16.66%;}  .col-3 {width: 25%;}  .col-4 {width: 33.33%;}  .col-5 {width: 41.66%;}  .col-6 {width: 50%;}  .col-7 {width: 58.33%;}  .col-8 {width: 66.66%;}  .col-9 {width: 75%;}  .col-10 {width: 83.33%;}  .col-11 {width: 91.66%;}  .col-12 {width: 100%;}}@media only screen and (min-width: 992px) {  .col-m-1 {width: 8.33%;}  .col-m-2 {width: 16.66%;}  .col-m-3 {width: 25%;}  .col-m-4 {width: 33.33%;}  .col-m-5 {width: 41.66%;}  .col-m-6 {width: 50%;}  .col-m-7 {width: 58.33%;}  .col-m-8 {width: 66.66%;}  .col-m-9 {width: 75%;}  .col-m-10 {width: 83.33%;}  .col-m-11 {width: 91.66%;}  .col-m-12 {width: 100%;}} @media only screen and (min-width: 1200px) {  .col-l-1 {width: 8.33%;}  .col-l-2 {width: 16.66%;}  .col-l-3 {width: 25%;}  .col-l-4 {width: 33.33%;}  .col-l-5 {width: 41.66%;}  .col-l-6 {width: 50%;}  .col-l-7 {width: 58.33%;}  .col-l-8 {width: 66.66%;}  .col-l-9 {width: 75%;}  .col-l-10 {width: 83.33%;}  .col-l-11 {width: 91.66%;}  .col-l-12 {width: 100%;}}
 body{
    background-color: #243644;
 }
 .containeralooma {
    padding: 0px 20px 20px 20px;
    display: flex;
    width: 95%;
    margin: 0 auto;
    background-color: #F5F5F5; /* Light gray for a clean, professional look */
    border-radius: 8px; /* Adds a slight curve for a modern touch */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}
#aloomafotter1{
    margin-top: 20px;
    border-radius: 8px;
}
#aloomafotter2{
    width: 80%;
    background-color: white;
    border-radius: 8px;
}
#aloomafotter{
    
    font-size: 20px;
    border-radius: 8px;
    
    
}
.boxalooma{
    width: 95%;
}
.h1alooma,
.h2alooma,
.h3alooma,
.h4alooma,
.h5alooma,
.h6alooma {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

.h1alooma {
    font-size: 3rem
}

.h2alooma {
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h3alooma {
    font-size: 2rem !important
}

.h4alooma {
    font-size: 16px
}

.h5alooma {
    font-size: 14px
}

.h6alooma {
    font-size: 13px
}
.palooma{
    margin: 0px;
    font-display: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.callalooma {
    margin: 0 auto;
    padding-top: 30px;
    display: table;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.callalooma a:hover {
    background-color: #f26522;
    color: #ffffff;
    
}

.callalooma a {
    display: block; /* Ensures the link does not take full width */
    font-size: 16px;
    color: #ffffff;
    background-color: red;
    border: solid white;
    text-align: center;
    padding: 10px 20px; /* Padding for the link */
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none; /* Remove underline */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.template2{
    text-align: center !important;
   
}

.list-group{
    list-style-type: circle !important;
}
.list-group-item{
    border: none;
}
.scroll-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Initially hidden */
    z-index: 1000; /* Ensure it's on top of other content */
    
}



.scroll-arrow {
    position: fixed;
    bottom: 50px; /* Positioned above the button */
    left: 50%;
    transform: translateX(-50%);
    font-size: 4em;
    color: rgb(142, 0, 142);
    display: none; /* Initially hidden */
    z-index: 2000; /* Ensure it's on top of other content */
    animation: blink 3s infinite; /* Blinking animation */
}
@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

#results {
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    display: none; /* Initially hidden */
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 40px; /* Position it below the search bar */
    left: 0;
    z-index: 1;
}
.result-item {
    margin: 5px 0;
    width: 100%;
}
.result-item a {
    text-decoration: none;
    color: #007BFF;
    word-wrap: break-word;
    
}

.heading-with-line {
    position: relative;
    padding: 20px 0;
    display: inline-block;
	text-align: center;
  }
.heading-with-line::before,
.heading-with-line::after {
    content: '';
    position: absolute;
    top: 50%;
    width: calc(50% - 20px);
    height: 1px;
    background-color: #000;
}
.heading-with-line::before {
    right: 100%;
    margin-right: 10px;
}
.heading-with-line::after {
    left: 100%;
    margin-left: 10px;

}

.aloomacssidimage{
    height: 400px;
    width: 90%;
}
/* copyright section end */